h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
    background-color:   rgba(47, 52, 58, 1);
    ;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
img {
  display: flex;
}
li {
    list-style-type: none; 
   }
a {
  text-decoration: none;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
  
    cursor: pointer;
  }
.container {
    width: 1150px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;    
}
// a:active, a:focus { outline: none; }

// input, textarea {outline:none;}
// input:active, textarea:active {outline:none;}
// :focus {outline:none;}
// textarea {resize:none;}
// textarea {resize:vertical;}
// textarea {resize:horizontal;}





